.calculator-container {
  font-family: Arial, sans-serif;
  margin: 20px auto; /* Centering the container */
  padding: 20px;
  max-width: 1200px; /* Maximum width for the entire container */
}

.input-container-row {
  display: flex;
  flex-wrap: wrap; /* Allows input fields to wrap on smaller screens */
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-container {
  margin-bottom: 10px;
  width: 22%;
}

@media (max-width: 768px) {
  .input-container {
    width: 48%; /* Reduce width on smaller screens */
  }
}

input {
  padding: 5px;
  width: 100%;
  margin-left: 10px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  width: 100%; /* Make the button full width */
}

.loan-amount-display {
  margin-top: 20px;
}

.output-container, .summary-container {
  margin-top: 30px;
}

.output-table {
  width: 80%;
  max-width: 1000px; /* Restrict table width */
  border-collapse: collapse;
  margin: 20px auto;
}

@media (max-width: 768px) {
  .output-table {
    width: 100%; /* Allow table to take full width on small screens */
  }
}

.output-table th, .output-table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.output-table th {
  background-color: green;
  color: white;
}

.output-table td {
  background-color: #f9f9f9;
}

.summary-container h2 {
  margin: 10px 0;
}

.summary-container ul {
  list-style-type: none;
  padding-left: 0;
}

.summary-container ul li {
  margin: 5px 0;
}

.tables-container {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Space between rows */
}

.table-row {
  display: flex;
  justify-content: space-between;
  gap: 20px; /* Space between tables */
}

.table-row > * {
  flex: 1; /* Ensures each table takes equal width */
  min-width: 45%;
}

.estimate-button {
  background-color: #007bff; /* Blue background */
  color: white;              /* White text */
  font-size: 18px;           /* Larger text */
  padding: 10px 20px;        /* Padding around the text */
  border: none;              /* Remove border */
  border-radius: 5px;        /* Rounded corners */
  cursor: pointer;          /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth transition */
}

.estimate-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}
